.sidebar-menu{
  padding: 0px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 7px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  cursor: pointer;
}
.sidebar-content{
  width: 160vw;
  height: 100vh;
  /* background-color: rgb(0, 0, 0); */
  /* background-color: #005f6631;
  backdrop-filter: blur(10px); */
  z-index: 999;
  position: fixed;
  color: #ad0e0e;
  font-size: 30px;
  margin-top: 7vh;
  left: -160vw;
  /* transition: left 0.5s ease; */
  display: none;
  transition: 0.5s;
}

.sidebar-content.active {
  left:-100vw;
}
.s-v-a.active{
  margin-left: 100vw;
}
.s-c-v{
  width: 240px;
  height: 100vh;
  overflow: hidden;
  background-color: #005f6631;
  backdrop-filter: blur(10px);
  /* background-image: url(https://images.pexels.com/photos/30286786/pexels-photo-30286786/free-photo-of-colorful-kite-in-bali-s-clear-summer-sky.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.vera{
  background-color: #09516f;
  width: 100%;
  margin-top: 20px;
  display: none;
}
.rata{
  /* background-color: #000000; */
  background: linear-gradient(to top, #25848B, rgba(255, 0, 0, 0));

  /* background-color: #25848B; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  border-bottom: #000000 solid 4px;
  border-top: #000000 solid 4px;
  border-left: #00000000 solid 4px;
  border-right: #00000000 solid 4px;
  width: 80%;
  height: 50px;
  border-radius: 10px;
}
.rata a{
  text-decoration: none;
  color: #ffffff;
}
.vata{
  /* background-color: #000000; */
  margin-top: 50%;
  margin-bottom: 20px;
  text-align: center;
}
.vata h3{
  color: #0097a2;
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}
.s-v-a{
  width: 100vw;
  height: 100%;
  /* background-color: #09516f; */
  background-color: #000000a0;
  backdrop-filter: blur(30px);
  transition: 0.5s;
  display: block;
}
.air-w-bar{
  /* background-color: #4db1d970; */
  width: 100%;
  height: max-content;
  position: fixed;
  top: 60%;
  left: 0%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  padding: 10px;
  transform: translateY(-6%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  display: none;
}
.xc{
  /* background-color: #ff00008e; */
  width: 38%;
  padding-left: 30px;
  color: #ffffff;
  /* backdrop-filter: blur(100px); */
  margin-bottom: 20px;
  font-size: 25px;
  display: none;
}.xc h2{
  cursor: pointer;
}
.air-w-bar.visiblea {
  display: flex; /* يظهر */
  transform: translateY(0); /* ينزل إلى مكانه */
  opacity: 1; /* يصبح مرئيًا */
}
.hiddena {
  opacity: 0;
  visibility: hidden;
}
.top-w-bar{
  width: 40%;
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: start;
  justify-content: right;
  padding-top: 15px;
  margin-right: 30px;
  display: none;
}
.content-w-bar{
  /* background-color: #002a34b2;
  backdrop-filter: blur(100px); */
  width: 95%;
  height: 280px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.title-more{
  width: 100%;
  font-size: 20px;
  /* background-color: #632424; */
  padding: 10px;
  padding-left: 20px;
  color: #ffffff;
}
.vnm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  gap: 10px;
  /* margin-bottom: 80px; */
  /* background-color: #008c913b; */
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  border-bottom: #00aa8e solid 4px;
  background-color: #002a34;
  backdrop-filter: blur(100px);
  /* display: none; */
}
.vnm i{
  font-size: 50px;
}
.vnm h2{
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.twb{
  /* background-color: #000000; */
  border: none;
  border-radius: 0px 0px 0px 0px;
  width: 100%;
  height: 16px;
  animation: hr-twb 3s linear infinite;
}

@keyframes hr-twb {
  0% {
    box-shadow: #00778000 0px 0px 0px 0px inset;
  }
  5% {
    box-shadow: #000000 5px 0px 0px 0px inset;
  }
  50% {
    box-shadow: #000000 500px 0px 0px 0px inset;
  }
  100% {
    box-shadow: #000000 500px 0px 0px 0px inset;
  }
}
.twb2{
  /* background-color: #000000; */
  border: none;
  border-radius: 0px 100px 100px 100px;
  width: 26px;
  height: 100%;
  margin-right: 40px;
  animation: hr-twb2 3s linear infinite;
}

@keyframes hr-twb2 {
  0% {
    box-shadow: #00778000 0px 0px 0px 0px inset;
  }
  15% {
    box-shadow: #0000006c 0px 0px 0px 0px inset;
  }
  50% {
    box-shadow: #000000 0px 500px 0px 0px inset;
  }
  100% {
    box-shadow: #000000 0px 500px 0px 0px inset;
  }
}
#vbfk{
  background-image: url(http://127.0.0.1:5502/images/My-photo-img.jpg);
  background-position: center;
  background-size: cover;
  width: 35px; 
  height: 35px;
  border-radius: 100px;
}






@media (max-width:1000px) {
  .sidebar-menu{
    display: flex;
  }
  .sidebar-content{
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .list-side{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    /* gap: 20px; */
    padding-top: 100px;
    animation: side 15s linear infinite;

  }
  @keyframes side {
    0% {
      box-shadow: #007780b7 0px 0px 0px 0px inset;
    }
    25% {
      box-shadow: #007780b9 0px -250px 0px 0px inset;
    }
    50% {
      box-shadow: #007780c2 0px -500px 0px 0px inset;
    }
    75% {
      box-shadow: #007780bc 0px -250px 0px 0px inset;
    }
    100% {
      box-shadow: #007780b5 0px 0px 0px 0px inset;
    }
  }
  .list-side li{
    font-size: 25px;
  }
  .list-side a{
    color: #ffffff;
    text-decoration: none;
    /* border-bottom: #ffffff solid 4px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 25px;
    padding-left: 10px;
    /* margin-bottom: 20px; */
    transition: 0.5s;
  }
  .list-side a:hover{
    background-color: #000000;
  }
}