.menu-icon{
    display: none;
}
.sidebar{
    display: none;
}
#exa{
  display: none;
}
#servi li{
    border-bottom: rgba(255, 0, 0, 0.495) solid 2px; 
    padding-bottom: 3px;
}
#custo li{
    border-bottom: rgba(255, 0, 0, 0.495) solid 2px; 
    padding-bottom: 3px;
}
#homu li{
    border-bottom: #0072a3 solid 2px; 
    padding-bottom: 3px;
}





@media( max-width: 950px ){

.menu-icon {
    position: fixed;
    /* top: 18px; */
    right: 8vw;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000;
    color: rgb(255, 255, 255);
    display: block;
}
.sidebar {
    display: block;
    position: absolute;
    top:6.5vh;
    width: 100%;
    height: 100vh;
    right: -1300px;
    transition: right 0.4s ease;
    z-index: 998;
}
.front-side{
  width: 100%;
  height: 100%;
  background-color: #000000db;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-bottom: 20vh;
}
.scroll-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* position: absolute;
  top: 80vh; */
  margin-top: 50vh;
  left:auto;
  right: auto;  /* background-color: #0072a3; */
  transform: rotate(90deg);
  /* animation: mmnbv 3s linear infinite; */
}
@keyframes mmnbv {
  0% {
      opacity: 0;
      transform: translateX(0%);
  }
  20% {
      opacity: 1;
      transform: translateX(200%);
  }
  50% {
      opacity: 0;
  }
  90% {
      opacity: 1;
      transform: translateX(400%);
  }
  100% {
      opacity: 0;
      transform: translateX(600%);
  }
}
.scroll-arrow img{
  width: 13px;
  animation: mmnbv 3s linear infinite;
}
.name-loko{
  position: absolute;
  top: 45vh;
  left:auto;
  right: auto;
}
.name-loko h2{
  /* font-family: "Playwrite HU", serif;
  font-optical-sizing: auto;
  font-weight: 500; */
  font-style: italic;
  color: #009297;
  font-size: 30px;
}
.front-side ul {
    list-style: none;
    /* padding-top: 10vh; */
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 20px;
    min-height: max-content;
    width: 425px;
}
.front-side ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}
.front-side a{
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-size: 20px;
    border-left: #029aa58f solid 4px; 
    background-color: #c1f3ff1f;
    width: 100%;
    border-radius: 5px;
}
.front-side hr{
  width: 100vw;
  border: #00878c solid 4px;
  border-radius: 3px;
  margin-bottom: 3vh;
}
.front-side a img{
    display: inline-flex;
    width: 30px;
    border-radius: 5px;
    /* background-color: #000000; */
}
.imo{
    width: 30px;
    margin-right: 10px;
    background-color: #00000077;
    border: #00eeffa9 solid 2px;
    padding: 3px;
    border-radius: 7px;
}
.front-side ul li a:hover {
    background-color: #555;
}
.coloro{
    display: block;
    color: #ff0000;
}
.vbn-fgh{
  width: 50%;
  margin-top: 7vh;
  border-radius: 30px;
  opacity: 25%;
}
.kmilou87u{
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#message-me{
  width: 425px;
  height: 400px;
  padding-bottom: 5vh;

  /* background-color: #000000; */
}
.form{
  /* background-color: #0088ff9a;  */
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  padding-top: 10%;
  padding-bottom: 10px;
  gap: 10px;
}
.form input{
  width: 100%;
  height: 50px;
  background-color: #071721b2;
  /* border: #ffffff solid 2px; */
  border: none;
  border-bottom: #009dff solid 3px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  outline: none;
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.form #message{
  height: 100%;
  height: 170px;
  width: 100%;
  border-radius: 10px;
  background-color: #071721b2;
  /* border: #ffffff solid 2px; */
  border: none;
  border-bottom: #009dff solid 3px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  outline: none;
  padding: 20px;
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.form #message::placeholder{
  text-align: center; 
}
.sipo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 30px;
  padding-left: 30px;
  gap: 20px;
}
.sipo button{
  height: 40px;
  width: 120px;
  background-color: #000000b4;
  border: none;
  border-bottom: #009dff solid 3px;
  border-radius: 7px;
  color: #ffffff;
  font-family: "cairo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.sircle{
  width: 35px;
  height: 40px;
  border: #ffffff solid 4px;
  border-bottom: #0088ff solid 4px;
  border-top: #0088ff solid 4px;
  border-radius: 100px;
  animation: rotate360 2s linear infinite;
  display: none;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  cursor: pointer;
  color: #ccc;
}
.rating span{
  font-size: 50px;
}
.rating span.selected {
  color: #00d5ff;
}
.back-vk{
  background-image: url(https://cdn-icons-png.freepik.com/256/4139/4139948.png?ga=GA1.1.1977550044.1720105698);
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
}